@use 'nav/nav';
@use 'form/form';
@use 'card/card';
@use './media_querry' as mq;
@use './variables' as var;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  
body { font-family: 'Roboto', sans-serif;; }

h1 {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 2rem;
  text-align: center;
  margin: 16px;
}

.title::after {
  content: '';
  display: block;
  width: 100%;
  height: 5px;
  background-color: var.$primary-color;
}

.card.is-flipped {
  transform: rotateY(180deg);

  @include mq.respond-to('md', 'lg', 'xl') {
    transform: rotateX(180deg);  
  }
}
